@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #171717;
  
}

/* @layer base {
  .font-serif {
    font-variation-settings: "opsz" 100; 
    font-optical-sizing: auto;
    font-style: italic; 
  }
   @keyframes back1 {
      from { background-size: 100% 100%; }
      to   { background-size: 99% 100%; }
    }
    @keyframes back2 {
      from { background-size: 48.56% 50%; }
      to   { background-size: 43.9% 50.1%; }
    }
  
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}


* {
  outline: 1px solid red;
}

.loader-hide {
  transform: translateY(-100%);
}
